<!DOCTYPE html>

<html ng-app="geektic">
    <head>
        <title>Geektic</title>
    </head>
    <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>HTML</title>
  </head>
  <body bgcolor="#FFFFFF" topmargin="5">
	<h1 align="center">FaceGeek !</h1>
	
	<h2 class = "text.danger" align="center">Le Site De Rencontre Des Geeks !</h2>
    <body ng-controller="HelloCtrl">
         GEEK PROFILE :
          				<br><br/> 
					<FORM>
						 <INPUT type= "radio" name="sexe" value="Masculin"ng-click="showGeekSexe('HOMME')"> Masculin
						 <INPUT type= "radio" name="sexe" value="Feminin" ng-click="showGeekSexe('FEMME')"> Feminin
					</FORM>
					  <br><br/> 
					    <FORM>
					    <SELECT name="centreInteret" size="1">
					    <OPTION ng-repeat="interet in interets" bgcolor="#FFFFFF">		
                		<font color="arial" face="#FFFF00">
                  		{{interet.programmation}}	
                		</font>
					    </SELECT>
					    </FORM>
					  
					  <br><br/>
       
       
                   <table  border="0" cellpadding="3" cellspacing="1" bgcolor="#AAAAAA">
                   <tr> 
              			<td ng-repeat="geek in geeks" bgcolor="#FFFFFF">		
                		<font color="arial" face="#FFFF00">
                  		<h2>Profile : {{geek.id}}</h2>
					   <span>Nom : {{geek.nom}} <br/> 
					   		 Prenom :{{geek.prenom}}<br/>
					   		 Age : {{geek.age}}<br/>
					   		 Sexe : {{geek.sexe}}<br/> </span>    		
                	</font>
              		</td>
            	</tr>            	
             	</table> 
             	
             	  
       
					   
      
        <script src="/js/angular.js"></script>
        <script src="/js/angular-route.js"></script>
        <script src="/js/app.js"></script>
    </body>
     </body>
</html>